
    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form  action="" method="post" novalidate>
        <fieldset class="form-group">
               
            <p> <label for="ws_cust_id">Customer id </label></br>
                <input id="ws_cust_id" name="ws_cust_id" required type="text" value="">
                
            </p>
        
            <p> <label for="ws_acct_type">Account type</label></br>
                <select id="ws_acct_type" name="ws_acct_type"><option value="S">Savings</option><option value="C">Current</option></select>
                
            </p>
            <p> <label for="ws_acct_balance">Balance</label></br>
                <input id="ws_acct_balance" name="ws_acct_balance" required type="text" value="">
                
            </p>
            
        
    
        
           
            <p> 
                <input id="submit" name="submit" type="submit" value="Create Account">
            </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}