

    {% extends "layout.html" %}
    
    {% block content %}
    
    {% for data in datas %}
    <div>
        <form action="" method="POST">
          <label>ws_ssn</label>
          <input readonly value="{{ data['ws_ssn'] }}" type="text" name="ws_ssn" ><br>
          <label>ws_cust_id</label>
          <input readonly value="{{ data['ws_cust_id'] }}" type="text" name="ws_cust_id" ><br>
          <label>ws_name</label>
          <input  value="{{ data['ws_name'] }}" type="text" name="ws_name" ><br>
          <label>ws_adrs</label>
          <input  value="{{ data['ws_adrs'] }}" type="text" name="ws_adrs" ><br>
          <label>ws_age</label>
          <input  value="{{ data['ws_age'] }}" type="text" name="ws_age" ><br>
          <label>Status</label>
          <select  name="ws_status">
            <option    {% if 'ACTIVE' ==  data["ws_status"] %} selected{% endif %} value="ACTIVE">ACTIVE</option>
            <option {% if 'IN_ACTIVE' ==  data["ws_status"] %} selected{% endif %} value="IN_ACTIVE">IN ACTIVE</option>
          </select><br>
          <label>message</label>
          <input  placeholder="any messages"   type="text" name="ws_message" ><br>
          <input type="submit">
        </form>
    
       
    </div>
    {% endfor %}
    {% endblock %}
