<footer class="footer bg bg-dark p-2">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 text-light">
              <h6>About Us</h6>
              <p style="text-indent:5px;font-size:10px;text-align: justify;">Retail banking, also known as consumer banking or personal banking, is banking that provides financial services to consumers as individuals not businesses. 
              </p>
              </div>
          <div class="offset-lg-1 col-lg-3 text-light">
          <h6>Services</h6>
              <p style="text-indent:5px;font-size:10px;text-align: justify;">Services offered by retail banks include checking and savings accounts, mortgages, personal loans, credit cards, and certificates of deposit (CDs).</p>
          </div>
          <div class="offset-lg-1 col-lg-3 text-light">
          <h6>Contact Us</h6>
          <p style="font-size:10px;text-align: justify;">
                      Email : retailbank@rb.com<br>
                      Phone no : +91 9200 000 000<br>
                      Address : Inorbit Office , Andhra Pradesh
              </p>
          </div>
      </div>
    </div>
</footer>