{% extends "layout.html" %}

{% block content %}
<div id="back" class="row">
    <div class="col-md-12 text-center">
        <h1>Welcome to Retail bank</h1>

        {% if session['user_id'] %}
        <div class="row">
            <div class="col-md-3">
              <div class="card-counter primary">
                <i class="fa fa-code-fork"></i>
                <span class="count-numbers">{{ c_count }}</span>
                <span class="count-name">CASHIERS</span>
              </div>
            </div>
        
            <div class="col-md-3">
              <div class="card-counter danger">
                <i class="fa fa-ticket"></i>
                <span class="count-numbers">{{   e_count }}</span>
                <span class="count-name">Executives</span>
              </div>
            </div>
        
            <div class="col-md-3">
              <div class="card-counter success">
                <i class="fa fa-database"></i>
                <span class="count-numbers">{{ account_count }}</span>
                <span class="count-name">Accounts</span>
              </div>
            </div>
        
            <div class="col-md-3">
              <div class="card-counter info">
                <i class="fa fa-users"></i>
                <span class="count-numbers">{{ customer_count }}</span>
                <span class="count-name">Customers</span>
              </div>
            </div>
          </div>
        {% else  %}
<img width="100%" src="https://www.db.com/cr/img/Klimastrategie_Background.png" >
        {% endif %}



    </div>
</div>
{% endblock %}