{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="container jumbotron"  >
<center><h4>Login</h4></center>
<form action="" method="POST">

    <div class="form-group"><label>Employee Id</label><input class="form-control" type="text" name="user_id" required></div>
    <div class="form-group"><label>Password</label><input class="form-control" type="password" name="password"  required></div>
  
    <div class="form-group"><input type="submit" value="Login" ></td></tr>

</form>
</div>
</div>

{% endblock %}