{% extends "layout.html" %}
{% block content %}
Transfer Money

{% if count == 2  %}
<form action="" method="POST">
    <label> Customer ID</label> <input value="{{ ws_cust_id }}" type="text" name="cid">
  <br>
    <label> Source Account Type</label>
    <select id="sr_acct_id" name="sr_acct_id">
        {% for data in account %}
        <option value="{{data['ws_acct_id']}}">{{data['ws_acct_type']}}</option>
        {% endfor %}
    </select>
    <br>
    <label> Target Account Type</label>
    <select id="tr_acct_id" name="tr_acct_id">
        {% for data in account %}
        <option value="{{data['ws_acct_id']}}">{{data['ws_acct_type']}}</option>
        {% endfor %}
    </select>  <br>
    <label> Account</label> <input type="number" name="amount">  <br>

    <input type="submit">
    {% else %}
    Current User {{ ws_cust_id }} Donot have both Saving and Current 
    {% endif %}
</form>
{% endblock %}