{% extends "layout.html" %}
    
{% block content %}


<form action="" method="POST" >
<input type="text" name="ws_acct_id" >
<input type="date" name="from_date" >
<input type="date" name="to_date" >
<input type="submit"  >
</form>

<h1>transactions</h1>

<!--  Display the Term and Year here --->


<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ws_tnsc_id</th>
            <th scope="col">ws_desc</th>
            <th scope="col">ws_amt</th>
            <th scope="col">ws_trxn_date</th>
         
        </tr>
        </thead>
        <tbody>

        <!-- Construct the rest of courses here -->
        {% for data in transactions %}
        <tr>
            <td scope='row'>{{ data["ws_tnsc_id"] }}</td>
            <td>{{ data["ws_desc"] }}</td>
            <td>{{ data["ws_amt"] }}</td>
            <td>{{ data["ws_trxn_date"] }}</td>
           
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>

{% endblock %}