{% include "header.html" %}
<div class="container p-3" align="center">
<h6>Customer Search</h6>
<form action="#" method="POST">
<table>
    <tr><td><h6>Enter Customer SSIN Id:</h6></td><td><input type="text" name="ssn" ></td></tr>
    <tr><td colspan="2" align="center">OR</td></tr>
    <tr><td><h6>Enter Customer Id:</h6></td><td><input type="text" name="cid" ></td></tr>
    <tr><td colspan="2" align="center"><input type="submit" value="view" ></td></tr>
</table>
</form>

{% include "footer.html" %}