{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="jumbotron">
    <center><h3>Search Customer</h3> </center>
    {% include "includes/errors.html" %}
<form action="" method="POST">

    <div class="form-group"><label> Customer SSIN Id::</label><input class="form-control" type="text" name="ssn" ></div>
OR
    <div class="form-group"><label>Enter Customer Id:</label><input class="form-control" type="text" name="cid" ></div>
        <div class="form-group"><input class="form-control" type="submit" value="view" ></div>

</form>
</div>
</div>

{% endblock %}