
{% extends "layout.html" %}

{% block content %}

{% if not transactions %}
<form action="" method="POST">
<div class="jumbotron">
    <tr><label>Account Id:</label><input class="form-control" type="text" name="ws_acct_id" ></tr>
    <tr><label>No of Transactions</label><input class="form-control" type="number" name="limit"  ></tr>
    <tr><label>From Date</label><input class="form-control" type="date" name="from_date" ></tr>
    <tr><label>To Date</label><input class="form-control" type="date" name="to_date" ></tr>
    <br>
    <center><td colspan="2" align="center"><input  type="submit" value="Get Statement" ></center>
</div>
</form>
{% else %}
<div class="jumbotron">
    <table   id="example" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
         
        </tr>
        </thead>
        <tbody>

        <!-- Construct the rest of courses here -->
        {% for data in transactions %}
        <tr>
            <td scope='row'>{{ data["ws_tnsc_id"] }}</td>
            <td>{{ data["ws_desc"] }}</td>
            <td>{{ data["ws_amt"] }}</td>
            <td>{{ data["ws_trxn_date"].strftime("%m/%d/%Y, %H:%M:%S") }}</td>
           
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <p class="lead"><button id="json" class="btn btn-primary">TO JSON</button> <button id="csv" class="btn btn-info">TO CSV</button>  <button id="pdf" class="btn btn-danger">TO PDF</button></p>
</div>
{%  endif %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
<script  src={{ url_for('static',filename='js/tableHTMLExport.js') }} ></script>
<script>
  $('#json').on('click',function(){
    $("#example").tableHTMLExport({type:'json',filename:'transactions.json'});
  })
  $('#csv').on('click',function(){
    $("#example").tableHTMLExport({type:'csv',filename:'transactions.csv'});
  })
  $('#pdf').on('click',function(){
    html2canvas($('#tblCustomers')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("transactions.pdf");
                }
            });
  })
  </script>


{% endblock %}