{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="jumbotron">
    <center><h3>Deposite</h3> </center>
    {% include "includes/errors.html" %}
    <form action="" method="POST">
        
    <table class="table table-striped">
         <div class="form-group"><label>Customer Id:</label><input class="form-control" name="ws_cust_id"  type="text"  {% if info %} readonly    value={{account.ws_cust_id }}   {% endif %}  required></div>
         <div class="form-group"><label>Account Id:</label><input class="form-control" name="ws_acct_id" type="text" {% if info %} readonly   value={{account.ws_acct_id}}    {% endif %} required></div>
         <div class="form-group"><label>Account Type:</label> {% if account["ws_acct_type"] ==  "S" %} Savings Account {% else %}  Current account {% endif %}</div> 
         <div class="form-group"><label>Balance:</label>{{  account.ws_acct_balance }} <input class="form-control" type="hidden"  name="ws_acct_balance" value="{{  account.ws_acct_balance }}"  required></div>
         <div class="form-group"><label>Deposit  Amount:</label><input class="form-control" type="number"  name="amount" required></div>
         <div class="form-group"><input class="form-control" type="submit" value="submit" ></div>
    </table>
    </form>
</div>
</div>

{% endblock %}