{% extends "layout.html" %}

{% block content %}

    <div class="row">
    <div class="jumbotron">
    <center><h3>Create Customer</h3> </center>
    {% include "includes/errors.html" %}
    <form action="" method="POST" >
        <div class="form-group">
          <label for="customer id">Customer SSIN ID</label>
          <input  class="form-control" id="ws_ssn" placeholder="Enter SSN" name="ws_ssn" type="text" required>
        </div>
        <div class="form-group">
            <label for="customer id"> Customer Name</label>
            <input  class="form-control"  placeholder="Enter Customer name" name="ws_name" type="text" required>
          </div>
          <div class="form-group">
            <label for="customer id">Age </label>
            <input  class="form-control"  placeholder="Enter Age" name="ws_age" type="number" required>
          </div>
          <div class="form-group">
            <label for="customer id">Address</label>
            <input  class="form-control"  placeholder="Enter Address" name="ws_adrs" type="text" required>
          </div>
      
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>

{% endblock %}