{% extends "layout.html" %}

{% block content %}

    <div class="row">
    <div class="jumbotron">
    <center><h3>Create Customer</h3> </center>
   
    <form action="" method="POST" >
        <div class="form-group">
          <label for="customer id">Customer SSN ID</label>
          <input  class="form-control"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          maxlength = "9"   id="ws_ssn" placeholder="Enter SSN" name="ws_ssn" type="number" required>
        </div>
        <div class="form-group">
            <label for="customer id"> Customer Name</label>
            <input  class="form-control"  placeholder="Enter Customer name" name="ws_name" type="text" required>
          </div>
          <div class="form-group">
            <label for="customer id">Age </label>
            <input  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength = "3" class="form-control"  placeholder="Enter Age" name="ws_age" type="number" required>
          </div>
          <div class="form-group">
            <label for="customer id"> Address Line1</label>
            <textarea  class="form-control"  placeholder="Enter Address Line1" name="ws_adrs1" type="text" required></textarea>
          </div>
          <div class="form-group">
            <label for="customer id">Address Line2</label>
            <textarea  class="form-control"  placeholder="Enter Address Line2" name="ws_adrs2" type="text" ></textarea>
          </div>
          <div class="form-group">
            <label for="customer id"> City</label>
            <input  class="form-control"  placeholder="Enter City" name="ws_city" type="text" required>
          </div>
          <div class="form-group">
            <label for="customer id"> State</label>
            <input  class="form-control"  placeholder="Enter State name" name="ws_state" type="text" required>
          </div>

     
    
      <center> <button type="submit" class="btn btn-primary">Submit</button></center> 
      </form>
    </div>
    </div>

{% endblock %}