{% extends "layout.html" %}

{% block content %}
<div class="container p-3" align="center">

            <!-- Construct the rest of courses here -->
            {% for data in customers %}
            <table class="table table-striped" border="2" >
                <tr><th>SSn </th><td>   {{ data["ws_ssn"] }}    </td></tr>
                <tr><th>Customer ID </th><td>   {{ data["ws_cust_id"] }}   </td></tr>
                <tr><th>Name </th><td>   {{ data["ws_name"] }}   </td></tr>
                <tr><th>Address </th><td>  {{ data["ws_adrs"] }}   </td></tr>
                <tr><th>Age </th><td>   {{ data["ws_age"] }}   </td></tr>
                <tr><th>Update </th><td> <a href="/update-customer/{{data['ws_cust_id']}}">Update </a>   </td></tr>
                <tr><th>Delete</th><td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Delete
                  </button>   </td></tr>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete  </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" border="2" >
                        <tr><th>SSN </th><td>   {{ data["ws_ssn"] }}    </td></tr>
                        <tr><th>Customer ID </th><td>   {{ data["ws_cust_id"] }}   </td></tr>
                        <tr><th>Name </th><td>   {{ data["ws_name"] }}   </td></tr>
                        <tr><th>Address </th><td>  {{ data["ws_adrs"] }}   </td></tr>
                        <tr><th>Age </th><td>   {{ data["ws_age"] }}   </td></tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a  type="button" class="btn btn-primary" href="/delete_customer/{{data['ws_cust_id']}}">Delete </a> 
                    </div>
                  </div>
                </div>
              </div>
         
            {% endfor %}
    </div>

{% endblock %}