{% extends "layout.html" %}

{% block content %}
<div class="container p-3" align="center">
<h6>Customer Status</h6>
<table class="table table-striped" border="2">
    <tr><th>Customer Id</th>
        <th>Customer SSIN Id</th>
        <th>Status</th>
        <th>Message</th>
        <th>Last Updated</th>
        <th>profile</th>
        <th>Operations</th>
     
    </tr>
          <!-- Construct the rest of courses here -->
          {% for data in customers %}
          <tr>
              <td scope='row'>{{ data["ws_cust_id"] }}</td>
              <td>{{ data["ws_ssn"] }}</td>
              <td>{{ data["ws_status"] }}</td>
              <td>{{ data["ws_message"] }}</td>
          
        
              <td>{{ data["ws_cust_update"].strftime("%m/%d/%Y, %H:%M:%S") }}</td>
              <td> <a href="/customers/{{data['ws_cust_id']}}">view </a></td>
              <td>  <a href="/update-customer/{{data['ws_cust_id']}}">Update </a></td>
          </tr>
          {% endfor %}
          
</table>


{% endblock %}