
{% extends "layout.html" %}

{% block content %}

    <div class="row">
    <div class="container jumbotron">
    <center><h3>Update Customer</h3> </center>

    <form action="" method="POST" >
      <div class="form-group"><label>Customer SSIN Id:</label><input class="form-control" readonly value="{{ customer['ws_ssn'] }}" type="number" required></div>
      <div class="form-group"><label>Customer Id:</label><input class="form-control" readonly  value="{{ customer['ws_cust_id'] }}" type="text" required></div>
      <div class="form-group"><label>Old Customer Name:</label>{{ customer['ws_name']  }}</div>
      <div class="form-group"><label>New Customer Name:</label><input class="form-control" name="ws_name" type="text" required></div>
      <div class="form-group"><label>Old Address:</label>{{ customer['ws_adrs']  }}</div>
      <div class="form-group"><label>New Address:</label><input class="form-control" type="text"  name="ws_adrs" required></div>
      <div class="form-group"><label>Customer Status</label><select  name="ws_status">
          <option    {% if 'ACTIVE' ==  customer["ws_status"] %} selected{% endif %} value="ACTIVE">ACTIVE</option>
          <option {% if 'IN_ACTIVE' ==  customer["ws_status"] %} selected{% endif %} value="IN_ACTIVE">IN ACTIVE</option>
        </select></div>
      <div class="form-group"><label>Old Age:</label>{{ customer['ws_age']  }}</div>
      <div class="form-group"><label>New Age:</label><input class="form-control"  name="ws_age" type="number"  required></div>
      <div class="form-group"><label>Message</label><input class="form-control"  name="ws_message" type="text"  required></div>
     <input  type="submit" value="Update" >

      </form>
    </div>
    </div>

{% endblock %}