{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
      <div class="card">
          <div class="card-header">Delete Account</div>
          <div class="card-body">
            <form action="" method="POST">
              <div class="form-group">
                <label for="account id">Account Id</label>
                <input class="form-control" id="ws_acct_id" placeholder="Enter Account" name="ws_acct_id" type="text" required>
              </div>
              <div class="form-group">
                <label for="account type id">Account Type</label>
                <select class="form-control" id="ws_acct_type" name="ws_acct_type">
                  <option value="S">Savings</option>
                  <option value="C">Current</option>
                </select>
              </div>
        
        
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      
                        
      
           
      </div>
  </div>
</div>
</div>

{% endblock %}
